{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}




<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">RP NURSERY CENTER</h1>
      <p>Welcome to RP nursery center, where u can find   plants are grown for transplanting, for use as stock for budding and grafting, or for sale.</p>
      Get your plant at your home.<hr>
      For more mail on :-rajparmar23801@gmail.com
      <hr>Head Owner :- Raj Parmar
      <hr>
      contact no:-977XXXXX7
      {% comment %} <p><hr><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> {% endcomment %}
    </div>
  </div>

  {% comment %} <hr> {% endcomment %}
  </div> <!-- /container -->

</main>





{% endblock %}